<form>

    <div class="form-group">
        <label for="searchEmail">Email address</label>
        <input type="email" class="form-control" name="searchEmail" value="{{email}}">
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-primary btn-space expanding" id="register">Register</button>
        <button type="button" class="btn btn-primary btn-space expanding" id="update" >Update Details</button>
        <button type="button" class="btn btn-primary btn-space" id="unregister">Unregister</button>
    </div>

</form>